.input-time{
  position: relative;
}
input[type="time"]::-webkit-calendar-picker-indicator{
  position: absolute;
  right: -40px;
  top: 0px;
  padding: 0;
  width: 40px;
  height: 36px;
  background: transparent;
  color: transparent;
  cursor: pointer;
}